@import 'var.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* width */
::-webkit-scrollbar {
    width: 1vh;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 10px;
  }

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--light-bg);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #000;
}

#Hero, #About, #Portfolio {
    height: 100%;
}

#Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 0.5vh 10vh;
    animation: slideinUp 3s;
}

#Nav ul {
    display: flex;
    list-style: none;
}

#Nav li {
    padding-left: 2vh;
}

#Nav ul a {
    transition: 0.25s;
}

#Nav ul a:hover {
    padding-left: 3vh;
    color: var(--main-color);
}

.light-nav {
    background-color: var(--light-bg);
}

.light-nav a {
    color: #000;
}

.dark-nav {
    opacity: 0;
    background-color: var(--dark-bg);
}

.dark-nav a {
    color: #fff;
}

.active {
    filter: drop-shadow(0 0 0.75rem #000);

}

#Hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: slideinRight 3.5s;
}

#Hero img:hover {
    animation: heroLogoAnim 1.5s alternate infinite;
}

.dark_logo {
    display: block;
}

.white_logo {
    display: none;
}

#About {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 75vh;
}

#About img {
    padding: 3vh;
    border-radius: 1000px;
}

#Portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Portfolio table {
    padding: 3vh 3vh;
}

#Contact {
    height: 45%;
    background-color: #1b1b1b;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#Contact div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 0.5vh 3vh;
    margin: 0.5vh;
    border-radius: 15px;
    border: solid 2px var(--main-color);
    background-color: transparent;
    transition: 0.25s;
}

button:hover {
    background-color: var(--main-color);
    color: #fff;
}

@keyframes heroLogoAnim {
    0% {transform: rotate(0rem); transform: scale(1);}
    25% {transform: rotate(0rem); transform: scale(0.8);}
    75% {transform: rotate(0rem); transform: scale(1.2);}
    100% {transform: rotate(380deg);}
}

@keyframes slideinRight {
    from {
        transform: translateX(1000vh);
    }
  
    to {
        transform: translateX(0vh);
    }
}

@keyframes slideinLeft {
    from {
        transform: translateX(-1000vh);
    }
  
    to {
        transform: translateX(0vh);
    }
}

@keyframes slideinUp {
    from {
      transform: translateY(-50vh);
    }
  
    to {
        transform: translateY(0);
    }
} 

@media (prefers-color-scheme: dark) {
    
    html, body {
        color-scheme: dark;
        background-color: var(--dark-bg);
    }

    .light-nav {
        opacity: 0;
    }

    .dark-nav {
        opacity: 1;
    }

    .white_logo {
        display: block;
    }

    .dark_logo {
        display: none;
    }

}